html, body, #app  {
  margin: 0;
  height: 100%;
  font-family:
          Inter,
          -apple-system,
          BlinkMacSystemFont,
          'Segoe UI',
          Roboto,
          Oxygen,
          Ubuntu,
          Cantarell,
          'Fira Sans',
          'Droid Sans',
          'Helvetica Neue',
          sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p, h1, mdui-checkbox, mdui-radio, mdui-text-field {
    margin: 0.5rem;
}

.list {
    width: 100%;
    max-height: 20rem; /* 设置最大高度 */
    overflow-y: auto;  /* 启用垂直滚动 */
}

mdui-card  {
    padding: 0.5rem;
}

mdui-button {
    width: calc(100%);
}

mdui-card, mdui-radio-group {
    display: flex;
    align-items: center;
    flex-direction: column;
}

@media (max-width: 500px) {
    mdui-collapse {
        width: calc(100%);
    }
}
@media (min-width: 500px) and (max-width: 1000px) {
    mdui-collapse {
        width: calc(100% / 2);
    }
}
@media (min-width: 1000px) and (max-width: 1500px) {
    mdui-collapse {
        width: calc(100% / 3);
    }
}
@media (min-width: 1500px) {
    mdui-collapse {
        width: calc(100% / 4);
    }
}

.filter {
    display: flex;
    flex-flow: row wrap;
}

mdui-layout-main {
    background: rgb(var(--mdui-color-surface));
    box-sizing: border-box;
}

.dashboard-layout {
    box-sizing: border-box;
    padding-top: 64px;
}

mdui-layout-main:not(.backend-page):not(.apikey-page) {
    display: flex;
    flex-flow: row wrap;
    padding-right: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 0.75rem;
}
